body {
	font-family:Tahoma,Times-New-Roman;
	background-color:black;
	color:white;
}

.table th {
	font-size:20px;
	border-bottom:2px solid black;
}

.table td {
	border-bottom:1px solid black;
}

.delete {
	color:red;
}

footer {
	font-size:17px;
	font-family:Times-New-Roman;
}

.form-actions {
	background-color:black;
	border:none;
}

#wrapper nav li.active a {
	color:green;
}

.form-horizontal .control-label {
	font-size:17px;
}