body {
	font-family:Tahoma,Times-New-Roman;
	background-color:#E6FAE6;
}

.table th {
	font-size:20px;
	border-bottom:2px solid black;
}

.table td {
	border-bottom:1px solid black;
}

footer {
	font-size:17px;
	font-family:Times-New-Roman;
}

.form-actions {
	background-color:#E6FAE6;
	border:none;
}

